.navbar-container {
    height: 60px;
    background-color: black;
    color: white;



}

.navbar {
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 1.4rem;
    display: flex;
    align-items: center;

}

.list {
    display: flex;


}

.list li {
    list-style: none;
}

.list a {
    text-decoration: none;
    color: white;
    margin: 0 19px;

}

.icone {
    display: none;
}

@media (max-width: 590px) {
    .navbar {
        padding: 0 30px;
    }

    .icone {
        display: block;
    }

    .list {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: black;
        justify-content: center;
        width: 60%;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
        border-radius: 20px;
        transition: left 0.6s ease-out;
        z-index: 99;
    }

    .list .opan {
        left: 0;
    }
}